# Vuong Thanh Linh - 21521082

## Bai tap 1: Tao va thao tac voi DataFrame tu JSON

In [22]:
# Tao DataFrame tu file JSON
df = spark.read.json("./people.json")

In [23]:
# Hien thi noi dung cua DataFrame
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
# Hien thi cau truc theo dang cay
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [25]:
# Chon cot "name" de hien thi
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [26]:
# Hien thi toan bo cac cot voi tat ca cac gia tri cua cot "age" tang them 1
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     NULL|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [27]:
# Loc ra nhung nguoi co tuoi lon hon 21
df.filter(df['age'] > 21).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [28]:
# Dem so nguoi theo tung do tuoi
df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|NULL|    1|
|  30|    1|
+----+-----+

## Bai tap 2: Tao va thao tac voi DataFrame tu file CSV

In [29]:
# Tao DataFrame tu file CSV
df2 = spark.read.format("csv").option("header", "true").load("./ebay.csv")

In [30]:
# Hien thi noi dung cua DataFrame
df2.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows

In [31]:
# Hien thi cau truc DataFrame
df2.printSchema()

root
 |-- auctionid: string (nullable = true)
 |-- bid: string (nullable = true)
 |-- bidtime: string (nullable = true)
 |-- bidder: string (nullable = true)
 |-- bidderrate: string (nullable = true)
 |-- openbid: string (nullable = true)
 |-- price: string (nullable = true)
 |-- item: string (nullable = true)
 |-- daystolive: string (nullable = true)

In [32]:
# Dem so cuoc dau gia duoc to chuc bang cau lenh
df2.select("auctionid").distinct().count()

627

In [33]:
# Dem so luong cuoc dau gia tren moi mat hang
df2.groupBy("auctionid", "item").count().show()

+----------+-------+-----+
| auctionid|   item|count|
+----------+-------+-----+
|1645883276|cartier|   12|
|1641242797|cartier|    5|
|1642005995|cartier|   18|
|3020060476|   palm|   22|
|1644681469|cartier|   14|
|8212145833|   xbox|   26|
|1638844464|cartier|   16|
|3020573049|   palm|    2|
|3015632013|   palm|   28|
|3024659380|   palm|   26|
|3025373736|   palm|   15|
|8213387659|   xbox|   25|
|1643201832|cartier|    4|
|3014834745|   palm|   21|
|3020257463|   palm|   16|
|3020274575|   palm|   11|
|3019821569|   palm|   27|
|3024707992|   palm|   20|
|8212277835|   xbox|    3|
|3019326870|   palm|   33|
+----------+-------+-----+
only showing top 20 rows

In [34]:
# Loc va hien thi tat ca cac phien dau gia co gia dong cua lon hon 100
highprice = df2.filter("price > 100")
highprice.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows

## Bai tap 3: Thao tac voi DataFrame bang ngon ngu SQL

In [36]:
# Temporary view tu people.json
df.createOrReplaceTempView("people")

In [37]:
# Truy van toan bo du lieu va hien thi ket qua
sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [38]:
# Hien thi cot "name" bang SQL
sql_1d = spark.sql("select name from people")
sql_1d.show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [40]:
# Hien thi toan bo cot voi cot "age" tang them 1 bang SQL
sql_1e = spark.sql("select name, age + 1 from people")
sql_1e.show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     NULL|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [42]:
# Loc ra nhung nguoi co tuoi lon hon 21 bang SQL
sql_1f = spark.sql("select * from people where age > 21")
sql_1f.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [43]:
# Dem so nguoi theo tung do tuoi bang SQL
sql_1g = spark.sql("select age, count(*) as count from people group by age")
sql_1g.show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|NULL|    1|
|  30|    1|
+----+-----+

## Bai tap 4: Thao tac voi DataFrame bang SQL - eBay

In [44]:
# Tao 1 khung nhin tam va hien thi ket qua
df2.createOrReplaceTempView("ebay")
sqlDF2 = spark.sql("select * from ebay")
sqlDF2.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows

In [46]:
# Dem so cuoc dau gia bang SQL
sql_2d = spark.sql("select count(distinct auctionid) from ebay")
sql_2d.show()

+-------------------------+
|count(DISTINCT auctionid)|
+-------------------------+
|                      627|
+-------------------------+

In [47]:
# Dem so luong gia dau tren moi item bang SQL
sql_2e = spark.sql("select auctionid, item, count(*) as count from ebay group by auctionid, item")
sql_2e.show()

+----------+-------+-----+
| auctionid|   item|count|
+----------+-------+-----+
|1645883276|cartier|   12|
|1641242797|cartier|    5|
|1642005995|cartier|   18|
|3020060476|   palm|   22|
|1644681469|cartier|   14|
|8212145833|   xbox|   26|
|1638844464|cartier|   16|
|3020573049|   palm|    2|
|3015632013|   palm|   28|
|3024659380|   palm|   26|
|3025373736|   palm|   15|
|8213387659|   xbox|   25|
|1643201832|cartier|    4|
|3014834745|   palm|   21|
|3020257463|   palm|   16|
|3020274575|   palm|   11|
|3019821569|   palm|   27|
|3024707992|   palm|   20|
|8212277835|   xbox|    3|
|3019326870|   palm|   33|
+----------+-------+-----+
only showing top 20 rows

In [48]:
# Loc va hien thi cac phien dau gia co gia dong cua > 100 bang SQL
sql_2f = spark.sql("select * from ebay where price > 100")
sql_2f.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows